name: Issues Workflow
on: issues
jobs:
    info:
        runs-on: ubuntu-latest
        steps:
            - name: Info
              run: |
                  echo "There is a new issue - ${{toJSON(github.event.issue.title)}}!"
                  echo "Details of the issue:"
                  echo "${{toJSON(github.event.issue)}}"